
.recent_works_button {
    -fx-padding: 10px;
    -fx-text-fill: #ed8405;
    -fx-font-size: 12;
    -fx-background-color: #0b57e0;
}


.label_colored {
    -fx-text-fill: #ffa42d;
    -fx-font-size: 14;
}

.bordered_pane {
    -fx-background-color: #1b82e0;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #1d64dd;
}

.edit_toolbar_row {
    -fx-spacing: 10;
    -fx-background-color: #1b7cd5;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-border-width: 2px;
    -fx-border-color: #1d64d0;
}

.button {
    -fx-background-color: #0b57e0;
    -fx-text-fill: #ff9800;
    -fx-border-color: #ffcb56;
    -fx-border-width: 1px;
}
